.idea
.vscode
node_modules
jspm_packages
typings
link-checker-results.txt
**/*.log
*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp

#keep
!karma*.js
!protractor*.js
!systemjs.config.js
!wallaby.js
