<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <p>{{p1?.productName}}</p>
    <p>{{p1?.productCode}}</p>
    <p>{{p1?.releaseDate}}</p>
    <p>{{p1?.price}}</p>
    <p>{{p1?.description}}</p>
    <p>{{p1?.starRating}}</p>
    <p>{{p1?.catId}}</p>
    <p>{{p1?.imageUrl}}</p>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>

</div>